body {
    font-family: 'Sora', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(12,37,84,1);
}
li {
    float: left;
    color: white;
    margin: 30px 150px;
    font-weight: bold;
    font-size: larger;
}

header {
    height: 400px;
    width: 100%;
}

.image1 {
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 3;
}

.image2 {
    position: absolute;
    height: 275px;
    top: 70px;
    left: 38%;
    z-index: 4;
}

nav {
    position: absolute;
    width: 100%;
    top: 200px;
    left: 0;
    z-index: 2;
}

.main {
    width: 60%;
}

.big {
    padding: 30px 50px;
}

.secondary {
    width: 100%;
    text-align: right;
}

.circle {
    position: absolute;
    top: 25px;
    right: 0;
    width: 30%;
    z-index: 1;
}

h1 {
    background-color: rgba(12,37,84,1);
    color: white;
    text-align: center;
    margin-top: 666px;
    padding: 30px 30px
}

h3 {
    background-color: rgba(12,37,84,1);
    color: white;
    text-align: center;
    padding: 30px 30px
}

.slide {
    text-align: center;
    top: 800px;
}

.small {
    padding: 30px 40px;
}

footer {
    text-align: center;
}

.bottom {
    font-weight: lighter;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.tertiery {
    text-align: center;
    width: 100%;
    height: 800px;
}

.large {
    position: absolute;
    top: 275px;
    left: 0;
    width: 100%;
    height: 800px;
}

.headline {
    font-weight: bolder;
    font-size:100px;
    position: absolute;
    top: 540px;
    left: 40%;
    z-index: 5;
    color: white;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
}

.headline2 {
    font-weight: bolder;
    font-size:100px;
    position: absolute;
    top: 540px;
    left: 40%;
    z-index: 6;
    color: white;
}

.hover {
    position: absolute;
    height: 300px;
    top: 65px;
    left: 37%;
    z-index: 4;
}